#user_id .ant-tabs {
  width: 100%
}

#user_id {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  align-items: inherit;
  // justify-content: center;
  display: flex;
  height: 100%;
  max-width: 1400px;
  width: 100%;
  gap: 16px;

  .ant-tabs-tab {
    font-weight: bold;
  }

  .sidebar {
    padding-top: 20px;

    // flex-direction: column;
    // align-items: start;
    .avatar {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      border: 1px solid #eaeaea;
      margin-right: 40px;
      padding: 40px;

      img {
        width: 150px;
      }

      .id_text {
        color: #cbcbcb;
      }
    }

    .information {
      width: 100%;

      .ant-menu {
        width: 100% !important;
      }
    }
  }

  .content {
    width: 100%;
    padding: 20px 0;

    #change-password {
      .ant-form {
        width: 100% !important;
      }
    }

    /*----ORDER----*/
    .filter-order {
      position: sticky;
      top: 105px;
      z-index: 10;

      .filter {
        margin-top: 0px !important;
        position: relative;
        margin-bottom: 32px;
        margin-top: 32px;

        .filter-layout {
          .ant-collapse-header {
            padding: 12px 16px;
            padding-right: 40px;

            i {
              left: unset;
              right: 16px;
            }
          }

          .filter-container {
            .ant-collapse-header {
              .filter-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
            }

            .ant-collapse-content {
              .ant-collapse-content-box {
                display: grid;
                gap: 16px;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

                .filter-item {
                  display: flex;
                  flex-direction: column;
                  gap: 8px;

                  i.ant-cascader-picker-clear {
                    display: none;
                  }
                }
              }
            }
          }
        }

        .reset-filter-btn {
          border-radius: 16px;
          font-size: 12px;
          min-height: 26px;
          padding: 2px 10px;
          position: absolute;
          right: 56px;
          top: 12px;
        }
      }
    }
    .table-order {
      table {
        .ant-tag {
          margin-right: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 949px) {
  .user-profile_container {
    display: flex;
    flex-direction: column !important;
    margin-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;

    .sidebar {
      display: flex;
      width: 100%;
      padding: 0 15px !important;

      .avatar {
        max-width: 250px !important;
        width: 35% !important;
        padding: 16px !important;
        margin-right: 8px !important;

        img {
          width: 80px !important;
        }
      }

      .information {
        .ant-menu-inline {
          border: none;

          li {
            padding-left: 16px !important;
          }
        }
      }
    }

    .content {
      padding: 15px !important;
    }
  }
}