.recharge-container {
  //border-bottom: 1px solid #eaeaea;
  //border-left: 1px solid #eaeaea;
  //border-right: 1px solid #eaeaea;
}

#qr-code-recharge {
  display: flex;
  justify-content: center;
  width: 100%;
  img {
    width: 50%
  }
}