.dashboard-card {
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    &.user {
        .ant-card-head {
            background-color: #467fff;
            background-image: linear-gradient(to right, #467fff, #7599ecf6);
        }
    }
    &.recharge-success {
        .ant-card-head {
            background-color: #11c15c;
            background-image: linear-gradient(to right, #11c15c, #45da86 );
        }
    }
    &.total-profit {
        .ant-card-head {
            background-color: #ffa21e;
            background-image: linear-gradient(to right, #ffa21e,  #fdb95b);
        }
    }
    &.final-profit {
        .ant-card-head {
            background-color: #ff5253;
            background-image: linear-gradient(to right, #ff5253,  #fd5d5d);
        }
    }
    .ant-card-head {
        font-size: 18px;
        font-weight: bold;
        color: white;
        border-radius: 4px 4px 0px 0px;
    }
    .ant-card-body {
        padding: 36px 24px 16px 24px;
        .dashboard-card-body {
            display: flex;
            align-items: center;
            gap: 24px;
            margin-bottom: 16px;
            .dashboard-card-number {
                font-size: 20px;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .dashboard-card-update-time {
            font-weight: 600;
        }
    }
}