/*---DEFAULT---*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // background-color: rgb(56, 88, 152);
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    white-space: nowrap;
}

ul {
    list-style-type: none;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

.header-top_container,
.header-main_container,
.header-divider,
.footer-session,
.footer-copyright,
.category-container,
.QandA-container,
.feature-container {
    max-width: 1170px !important;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

/*--HEADER--*/

.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #ffffff !important;
    animation: 2000ms ease-in-out 2s normal none 1 running fadeInDown;
    padding-top: 0px;
    padding-bottom: 0px;
    // #top-bar {
    //     display: none;
    // }
}

.header-top_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-main_container {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-top_left {
    input[type=search] {
        border-radius: 99px !important;
        background-color: hsla(0, 0%, 100%, .2) !important;
        border-color: hsla(0, 0%, 100%, .09);
        color: white;
    }

    input[type=search]::placeholder {
        color: white !important;
        font-size: 12px;
    }

    .ant-input-search-icon {
        color: white !important;
    }

    .ant-input-affix-wrapper {
        font-size: 18px !important;
    }
}

.header-top_right,
.header-main_left,
.header-main_right {
    ul {
        display: flex;
        margin: 0;
        padding: 0;
        height: 20px;
        gap: 8px;
        align-items: center;

        li {
            display: flex;
            flex: 1 1 auto;
            position: relative;
            align-items: center;
            padding-left: 8px;

            a {
                font-size: 13px;
                color: hsla(0,0%,100%,.8);
                line-height: 1;
            }
        }

        li.item+li.item {
            border-left: solid 1px rgba(255, 255 , 255, .2);
        }
    }
}

.header-main_left,
.header-main_right {
    .header-devider {
        border-left: 1px solid rgba(0, 0, 0, .1);
        height: 30px;
        margin-left: 8px;
        padding: 0;
        position: relative;
        vertical-align: middle;
    }

    ul li a {
        color: #333333;
        font-weight: 700 !important;
        font-size: 14px !important;
    }
}

.header-main_right {
    margin-left: auto;

    li div {
        height: 20px;
        line-height: 20px;
    }
}

    .ant-dropdown {
        box-shadow: rgba(27, 116, 228, 0.3) 0px 2px 6px;
    }

li .item-button {
    display: flex;
    background-color: #333333;
    padding: 0 16px;
    height: 32px;
    align-items: center;
    border-radius: 99px;

    a {
        color: white !important;
    }
}

.header-divider {
    .top-divider {
        border-bottom: 1px solid black;
        opacity: 0.1;
    }
}

/*--FOOTER--*/
#footer_user {
    .copyright-text {
        padding: 15px 0;
        color: hsla(0, 0%, 100%, .5);
    }

    .footer-content {
        color: white !important;
        text-align: left !important;
        position: relative;

        &>div {
            margin-top: 24px;
            padding-bottom: 48px;
        }

        h2,
        h3 {
            color: white;
            font-weight: 700;
        }

        a {
            color: white;
            font-weight: bolder;
        }
    }

    ul.dot {
        padding: 0;
        margin: 0;
        list-style-type: disc;

        li {
            font-size: 16px;
            list-style: inside;
        }
    }

    ul.bullet-arrow {
        padding: 0;
        margin: 0;

        li {
            border-bottom: 1px solid #ececec61;
            list-style: none;
            margin: 0;
            padding: 7px 0 7px 0px;
            position: relative;

            i {
                margin-right: 25px;
                color: #7a9c59;
            }
        }
    }
}


/*-----CONTENT-----*/

/*--HOME PAGE--*/

/*--Slider--*/
#slider-layout {

    .ant-carousel .slick-slide {
        // text-align: center;
        height: 500px;
        // line-height: 500px;
        background: rgba(243, 243, 243, 0.7);
        // overflow: hidden;
        // margin: 0;
        & > div {
            width: auto;
            max-width: 1170px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            & > .slide-item {
                position: relative;
                .slide-text {
                    width: 30%;
                    position: absolute;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    top: 50%;
                    margin-left: 24px;
                    transform: translate(0, -50%);
                    .slide-title {
                        font-size: 32px;
                        font-weight: 700;
                    }
                    .slide-content {
                        color: #333333;
                        font-size: 16px;
                    }
                    button {
                        margin-top: 16px;
                        font-weight: 600;
                        border: none !important;
                        border-radius: 0px;
                        background-color: #000000;
                    }
                }
                img {
                    height: auto;
                    width: 100%;
                    max-width: 1170px;
                    margin: auto;
                }
            }
        }
    }
    .ant-carousel .slick-slider {
        display: flex !important;
        justify-content: center !important;
    }
}
.ant-carousel .slick-dots-bottom{
    bottom: 32px !important;
}
.ant-carousel .slick-dots li button {
    display: contents;

    &::before {
        font-size: 13px;
        line-height: 13px;
    }
}

.slick-prev,
.slick-next {
    height: 30px !important;
    width: 30px !important;
    z-index: 1;
    right: unset !important;
    left: unset !important;
    :hover {
        &::before {
            opacity: 0.9 !important;
        }
    }
}

.slick-prev {
    left: 24px !important;

    &:before {
        content: '<' !important;
    }
}

.slick-next {
    right: 24px !important;

    &:before {
        content: '>' !important;
    }
}


.slick-prev:before,
.slick-next:before {
    color: #0a0a0a !important;
    font-size: 48px !important;
    font-family: monospace !important;
    opacity: 0.5 !important;
}
/*--Product Home--*/

#product-layout {
    margin-bottom: 32px;
}

.category-container {
    .ant-row {
        margin: -15px !important;
    }

    .ant-col {
        padding: 15px !important;
    }
    .category-title {
        .title-content {
            display: flex;
            align-items: center;
            padding-bottom: 4px;
            border-bottom: 2px solid #ececec;

            span {
                padding-bottom: 12px;
                border-bottom: 2px solid rgb(27, 116, 228);
            }

            a {
                background: #eee;
                border-radius: 15px;
                padding: 4px 10px;
                font-weight: 500;
                margin-left: auto;
                color: #333333;
            }

            i {
                margin-left: 8px;
            }
        }
    }

    .category-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 16px;
    }
    .product-card {
        border-radius: 12px;
        box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 4px 0px;
        text-align: center;
        &:hover {
            & .product-more-info {
                // display: block;
                visibility: visible !important;
                height: 180px !important;
                transition: height .5s;
                .info {
                    opacity: 1 !important;
                    transition-duration: 1.5s;
                }
            }
        }
        .ant-card-body {
            padding: 0;
            .product-container {
                padding: 0 12px 16px;
            }
            .product-title {
                overflow: hidden;
                text-overflow: ellipsis;
                span {
                    font-size: 16px;
                    font-weight: 700;
                }
            }
            .product-detail {
                display: flex;
                flex-direction: column;
                gap: 4px;
                margin-top: 12px;
                .product-price {
                    font-size: 16px;
                    font-weight: 700;
                    color: red;
                }
                .product-quantity {
                    font-size: 13px;
                    span {
                        color: #2290FF;
                        background: rgba(34, 144, 255, 0.1);
                        font-weight: bolder;
                        border-radius: 16px;
                        padding: 4px 8px
                    }
                }
                .product-more-info {
                    // display: none;
                    height: 0px;
                    visibility: hidden;
                    .info {
                        opacity: 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid #dedede;
                        padding: 4px 0;
                        &:last-child {
                            border: none;
                        }
                        i {
                            margin-right: 4px;
                        }
                    }
                }      
            }
            .shopping-button {
                padding-top: 8px;
                padding-bottom: 8px;
                border-radius: 10px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                margin-top: 12px;
            }
        }
    }
}

/*--Feature--*/

#feature-layout {
    margin-bottom: 32px;
    .feature-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        .feature-item {
            display: flex;
            flex-direction: column;
            padding: 0 10px 20px;
            border-left: 1px solid #ececec;
            &:first-child {
                border: none;
            }

            & .feature-image, .feature-name {
                margin: auto;
            }

            & .feature-image {
                width: 120px;
                margin-bottom: 16px;
                img {
                    width: 100%;
                }
            }
            & .feature-name {
                h3 {
                    font-weight: 700;
                }              
            }
            & .feature-desc {
                color: #000000;
                font-size: 13px;
            }
        }
    }
}

/*--QandA--*/

#QandA-layout {
    margin-bottom: 32px;

    .QandA-title {
        text-align: center;
        padding-bottom: 30px;

        h2 {
            font-weight: 700;
        }
    }

    .ant-collapse-item {
        margin-bottom: 10px;
        background: #f2f2f2;
        border-radius: 5px;
        border: none;

        &.ant-collapse-item-active .ant-collapse-header {
            background-color: rgb(27, 116, 228);
            color: white;
            border-radius: 5px 5px 0 0;
        }

        .ant-collapse-content-box {
            padding-top: 16px;
            padding-left: 40px;
        }
    }
}


/*--Blog--*/

.blog-card {
    margin: 32px 0;
    .ant-card-body {
        padding: 0;
    }
    .blog-title {
        height: 64px;
        font-weight: 700;
    }
    .blog-image {
        margin-bottom: 8px;
        img {
            border-radius: 5px;
        }
    }
    .blog-text {
        height: 64px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        white-space: pre-wrap;
        color: #333333;
    }
    .is-divider {
        background-color: black;
        display: block;
        height: 2px;
        max-width: 30px;
        width: 100%;
        margin-left: 0;
        margin-right: auto;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .badge-post-time {
        position: absolute;
        top: 25px;
        left: -8px;
        z-index: 1;
    
        .badge-container {
            background-color: rgb(27, 116, 228);
            color: rgb(255, 255, 255);
            border-radius: 0px;
            padding: 8px 14px;
            .post-date {
                font-size: 16px;
                font-weight: 700;
            }
            .post-month {
                font-size: 11px;
                font-weight: 700;
            }
        }
    }
}