.product-page {

    /*---FILTER---*/
    .filter {
        position: relative;
        margin-bottom: 32px;
        margin-top: 32px;
        .filter-layout {
            .ant-collapse-header {
                padding: 12px 16px;
                padding-right: 40px;

                i {
                    left: unset;
                    right: 16px;
                }
            }
            .filter-container {
                .ant-collapse-header {
                    .filter-header {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;  
                    }
                }
                .ant-collapse-content {
                    .ant-collapse-content-box {
                        display: grid;
                        gap: 16px;
                        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                        .filter-item {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            i.ant-cascader-picker-clear {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .reset-filter-btn {
            border-radius: 16px;
            font-size: 12px;
            min-height: 26px;
            padding: 2px 10px;
            position: absolute;
            right: 56px;
            top: 12px;
        }
    }
}

.product-image__modal {
    .ant-modal-close-x {
        width: 32px !important;
        height: 32px !important;
        line-height: 32px !important;
    }

    .ant-modal-body {
        img {
            margin-top: 8px !important;
        }  
    }
}