body, html {
  font-family: 'Open Sans', 'sans-serif', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.moving-arrow {
  border-right: 17px solid #f4f3ef;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  display: inline-block;
  position: absolute;
  left: 243px;
  top: 95px;
  transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1);
}
@media (max-width: 992px) {
  .moving-arrow {
    display: none;
  }
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.login-home {
  border: 1px solid rgb(81,143,233);
  transition: 1s;
  padding: 0px 20px;
  color: rgb(81,143,233);
  cursor: pointer;
  width: 140px;
  text-align: center;
}
.login-home:hover {
  color: white;
  background-color: rgb(81,143,233);
  transition: 1s;
}

.register-home {
  border: 1px solid #a3a3a3;
  transition: .5s;
  padding: 0px 20px;
  margin-left: 10px;
  cursor: pointer;
  width: 140px;
  text-align: center;
}
.register-home:hover {
  color: white;
  background-color: #a3a3a3;
  transition: .5s;
}

.m-t-10 {
  margin-top: 10px
}

.m-b-10 {
  margin-bottom: 10px
}

.ant-table-wrapper {
  overflow-y: auto;
}