.statistics-card {
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    &.sale {
        .ant-card-head {
            background-color: #00a88f;
            background-image: linear-gradient(to right, #00a88f, #33b8a5);
        }
    }
    &.replace {
        .ant-card-head {
            background-color: #a64499;
            background-image: linear-gradient(to right, #a64499, #b868ad );
        }
    }
    &.refund {
        .ant-card-head {
            background-color: #f68f1e;
            background-image: linear-gradient(to right, #f68f1e,  #f9a54b);
        }
    }
    .ant-card-head {
        font-size: 18px;
        font-weight: bold;
        color: white;
        border-radius: 4px 4px 0px 0px;
    }
    .ant-card-body {
        padding: 36px 24px 16px 24px;
        .statistics-card-body {
            display: flex;
            align-items: center;
            gap: 24px;
            margin-bottom: 16px;
            .statistics-card-number {
                font-size: 20px;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .statistics-card-update-time {
            font-weight: 600;
        }
    }
}